<?xml version='1.0' encoding='utf-8'?>
<widget id="com.estevao.fightv2" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fight v2</name>
    <description>Jogo de luta em primeira pessoa: esquive, contra-ataque e vença!</description>
    <author email="estevaotrab97@gmail.com">Estevão Córdova</author>

    <content src="index.html" />
    <allow-intent href="https://*/*" />
    <access origin="https://unpkg.com" />

    <!-- Jogo vertical, tela cheia, sem barra de status -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff1a6dd4" />

    <!-- Splash/ícone: gere os assets com `npx cordova-res` (ver README) -->
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="1500" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>

    <platform name="ios">
        <preference name="deployment-target" value="13.0" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
</widget>
